#lake {
	width:500px;
	right:0;
	top:0;
	position: fixed;
}

.area-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	/* margin:20px 0; */
}

.area-row {
	display: flex;
	flex:1;
}

.area {
	flex:1; 
	border: rgba(168, 168, 168,0.3) 1px solid;
	background: linear-gradient(20deg, rgb(10, 17, 30) 20%, rgb(36, 36, 36) 100%);
	border-radius: 5px;
	padding: 20px 20px 10px 20px;
	margin: 20px;
	/* height: fit-content; */
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
	max-height: 500px;
	overflow: scroll;
	max-width:800px;
}

.area.shortheightarea {
	max-height:300px;
}

.area > h2 {
	font-size: 22px;
	margin: auto 0;
}

.area > h3 {
	font-family: "Montserrat Alt";
}

.area-ul {
	padding-left:0;
	margin-bottom:0;
}

.minarea {
	flex:1; 
	border: rgba(168, 168, 168,0.3) 1px solid;
	background: linear-gradient(20deg, rgb(10, 17, 30) 20%, rgb(36, 36, 36) 100%);
	border-radius: 5px;
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
	overflow: scroll;
	padding:10px;
	margin:0px;
	width:fit-content;
}

.infoli {
	list-style: none;
	margin-bottom:10px;
}

.bidli {
	list-style: none;
	display: flex;
	justify-content: space-between;
	height:32px;
	padding: 2px 0;
	border-bottom: rgb(36, 36, 36) 1px solid;
	cursor:pointer;
}

.bidli:last-child {
	border: none;
}

.bidli:hover {
	background: linear-gradient(200deg, rgba(0,0,0,0) 0%,  rgba(83, 130, 201, 0.15) 100%);
}

/* .bidli img {
	width:30px;
	height:30px;
} */

.bidprice {
	display: flex;
	color:rgb(83, 130, 201);
}

.biddesc, .bidcurrency {
	color:rgb(168, 168, 168);
	font-family: "Montserrat Italic";
	line-height:35px;
}

.bidcurrency {
	margin-left:10px;
}


.postli {
	list-style: none;
	display: flex;
	justify-content: space-between;
	height:32px;
	padding: 2px 0;
	border-bottom: rgb(36, 36, 36) 1px solid;
	cursor:pointer;
}

.postli:last-child {
	border: none;
}

.postli:hover {
	background: linear-gradient(200deg, rgba(0,0,0,0) 0%,  rgba(83, 130, 201, 0.15) 100%);
}

.postli.postlinobid:hover {
	background: linear-gradient(200deg, rgba(0,0,0,0) 0%,  rgba(201, 83, 83, 0.15) 100%);
}

.postli > p {
	margin: auto 0;
}

.postliendrow {
	display: inline-flex;
}

.postliendrow > * {
	margin-left: 15px;
}

.postbidprice {
	display: flex;
	color:rgb(83, 130, 201);
}

.postnobid {
	color:rgb(201, 83, 83);
	margin-top: 7px;
}

.posttable {
	width:100%;
	margin-top:-17px;
	/* margin-top:16px; */
	border-collapse: collapse; 
}

.riverpostli {
	height:32px;
	padding: 2px 0;
	border-bottom: rgb(36, 36, 36) 1px solid;
}
.riverpostli th {
	color:rgb(83, 130, 201);
	text-align:left;
}

.riverpostli th.prices {
	text-align:right;
}

tr.riverpostli {
	cursor:pointer;
}

.riverpostli:last-child {
	border: none;
}

tr.riverpostli:hover {
	background: linear-gradient(200deg, rgba(0,0,0,0) 0%,  rgba(168,168,168, 0.15) 100%);
}

tr.riverpostli.postlinobid:hover {
	background: linear-gradient(200deg, rgba(0,0,0,0) 0%,  rgba(83, 130, 201, 0.15) 100%);
}

.riverpostbidprice > div {
	display: inline-flex;
	float: right;
}

.riverpostli .riverpostbidprice.rivermin {
	color:rgba(168, 168, 168,0.5);
}

.riverpostli.postlinobid .riverpostbidprice.rivermin {
	color:rgb(83, 130, 201);
}

.riverpostli .riverpostbidprice.bestbid {
	color:rgb(168, 168, 168);
}

.riverpostli.postlinobid .riverpostbidprice.bestbid {
	color:rgb(201, 83, 83);
}

#marketplace-split {
	display: flex;
}

#marketplace-split > * {
	margin-top: 20px;
	margin-bottom: 10px;
	flex: 1;
}

#map-container {
	padding: 0 10px;
}

#quick-map {
	height: 300px;
	border-radius: 5px;
}

#price-area {
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#price-range {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
}

.input-range {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.input-range input {
	background: black;
	outline: none;
	color: white;
	border: rgba(168,168,168,0.3) 1px solid;
	margin-top: 5px;
	height: 30px;
	font-family: 'Montserrat Italic';
	font-size: 15px;
	padding-left:10px;
	border-radius: 5px;
}
.input-range input:focus {
	border: rgba(83, 130, 201,0.8) 1px solid;
}


#searchpost-buttonrow {
	display: flex;
	justify-content: space-between;
}

#advancedsearch {
	position: relative;
	height: 42px;
	flex: 1;
}

#advancedsearch a {
	font-family: 'Montserrat Italic';
	color:rgb(139, 162, 193);
	bottom: 11px;
	margin: auto;
	position: absolute;
}

#advancedsearch a:hover {
	color:rgb(168, 168, 168);
}

/* TEMPLATE layout.pug */

/*
PRI:     rgb(83, 130, 201)
SEC:     rgb(139, 162, 193)
TER:     rgb(168, 168, 168)
BG:      rgb(36, 36, 36)
SEC BG:  rgb(10, 17, 30)
DARK BG: rgb(25, 25, 25)
*/

html {
	width: 100%;
	height:100%;
	margin:0;
	padding:0;
	background: rgb(36, 36, 36);
}

body {
	background: linear-gradient(20deg, rgb(36, 36, 36) 0%, rgb(10, 17, 30) 100%);
	min-height:100%;
	font-family: "Montserrat", sans-serif;
	margin:0;
	padding:0;
	color: rgb(168, 168, 168);
	width:100%;
	overflow-x: hidden;
}

h1 {
	color: rgb(83, 130, 201);
}

h2 {
	margin:0;
}

h3 {
	font-size:16px;
	margin:0;
	color: rgb(168, 168, 168);
}

h4 {
	font-size:16px;
	margin: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

#content {
	padding:20px;
}

.notifactive #content {
	pointer-events: none;
	user-select: none;
	filter: blur(5px);
}


.notifactive #topbar {
	pointer-events: none;
	user-select: none;
	filter: blur(5px);
}

#topbar {
	padding:20px;
	justify-content: space-between;
	display:flex;
	border-bottom: rgba(168, 168, 168,0.2) 1px solid;
	/* padding-bottom: 20px; */
	background: linear-gradient(20deg, rgba(0,0,0,0) 0%,  rgba(83, 130, 201, 0.1) 100%);
}

#logo-a {
	display: inherit;
	width: 100%;
	margin-left:20px;
}

#logo {
	max-width: 30%;
	min-width:100px;
	max-height:40px;
	margin: auto 0;
}

.buttonrow {
	display: flex;
	margin: 5px 10px 5px 0;
}
.buttonrow > * {
	margin-right: 10px;
}

.mainbutton {
	display: block;
	background: linear-gradient(200deg, rgb(25, 25, 25) 0%,  rgba(83, 130, 201,0.2) 100%);
	border: rgba(168, 168, 168,0.3) 1px solid;
	box-shadow: 0 0 10px 5px rgba(0,0,0, 0.2);
	width: max-content;
	padding: 0 20px;
	border-radius: 5px;
	height: 40px;
	cursor: pointer;
	user-select: none;
	text-decoration: none;
}

.mainbutton:hover {
	background: rgb(25, 25, 25);
	border-color: rgba(139, 162, 193, 0.5);
}

.mainbutton h3 {
	line-height: 40px;
}

.mainbutton:hover h3 {
	color: rgb(139, 162, 193);
}

.mainbutton.done {
	background: rgb(25, 25, 25);
	border: rgba(168, 168, 168,0.1) 1px solid;
	cursor:default;
	pointer-events: none;
}
.mainbutton.done h3 {
	color:rgba(168, 168, 168,0.5);
}
.mainbutton.done:hover h3 {
	color:rgba(168, 168, 168,0.5);
}

.toitalic {
	font-family: "Montserrat Italic";
}
.toblue {
	color: rgb(83, 130, 201);
}
.tored {
	color: rgb(201, 83, 83);
}

@media screen and (max-width: 1400px) {
	#marketplace-split {
		flex-direction: column;
	}
}

@media screen and (max-width: 900px) {
	.area-row {
		flex-direction: column;
	}
	.area {
		margin:0;
		margin-bottom:20px;
	}
}

/* notifications */

#notification {
	top: 50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	padding: 40px;
	height: fit-content;
	min-width: 300px;
	max-width: 400px;
	background: rgb(25, 25, 25);
	/* background: linear-gradient(20deg, rgb(60, 41, 41) 20%, rgb(36, 36, 36) 100%); */
	box-shadow: rgba(0,0,0, 1) 0px 0px 50px;
	border: rgba(83, 130, 201,0.5) 1px solid;
	overflow: auto;
}
#notification.error {
	border: rgb(201, 83, 83) 1px solid;
	background: linear-gradient(20deg, rgb(60, 41, 41) 20%, rgb(36, 36, 36) 100%);
}

#notification #notiftitle {
	padding-right: 40px;
	margin-bottom:10px;
}

#notification #notifcross {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	right: 0;
	margin: 20px;
	cursor: pointer;
}
#notification .notifcrossline {
	position: absolute;
	height: 40px;
	width: 1px;
	margin-left: 20px;
	border-left: rgb(83, 130, 201) 1px solid;
}
#notification.error .notifcrossline {
	border-left: rgb(201, 83, 83) 1px solid;
}
#notification .notifcrossline.left { transform: rotate(45deg);}
#notification .notifcrossline.right {	transform: rotate(315deg);}

#notification #notifinputarea {
	display: none;
	padding-top: 10px;
}
#notification #notifinputarea.active {
	display: flex;
	flex-direction: column;
}
#notification label {
	color:rgb(83, 130, 201);
}
#notification input {
	background:rgb(0,0,0);
	color:white;
	margin-top: 5px;
	border: none;
	padding: 10px;
	outline:none;
}
#notification input::placeholder {
	color:rgba(168, 168, 168, 0.7);
}

#notification #notifbtnrow {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

#notification #notifbtnrow > .notifbtn {
	padding:5px 10px;
	border: rgba(168, 168, 168, 0.4) 1px solid;
	cursor: pointer;
	background:rgba(83, 130, 201, 0.3);
}

#notification #notifbtnrow > .notifbtn:hover {
	border: rgba(168, 168, 168, 0.6) 1px solid;
	background:rgb(25,25,25);
}

#notification #notifbtnrow > .notifbtn.greyedout {
	border: rgba(168, 168, 168, 0.3) 1px solid;
	background: transparent;
	color:rgba(168, 168, 168, 0.7);
	cursor: default;
}

#notification #notifbtnrow > .notifbtn.greyedout:hover {
	border: rgba(168, 168, 168, 0.3) 1px solid;
	background: transparent;
	color:rgba(168, 168, 168, 0.7);
}

.hide {
	opacity: 0 !important;
	visibility: hidden;
	max-height: 0;
	max-width: 0;
	margin: 0;
	padding: 0;
	border: none;
}

* {
	opacity: 1;
	transition: opacity 500ms;
}