doctype html
html(lang="en-GB")
	head
		meta(charset="utf-8")
		title Raeda Dapp
		link(rel='stylesheet', href='styles/font.css')
		link(rel='stylesheet', href='styles/styles.css')
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap" rel="stylesheet")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png")
		link(rel="manifest" href="/assets/favicon/site.webmanifest")
		link(rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5382c9")
		link(rel="shortcut icon" href="/assets/favicon/favicon.ico")
		block headerscripts
	body
		include ui-components
		#topbar
			a(id="logo-a",href="/")
				img(id="logo", src="/assets/img/raeda_logo_modern-dark-transparent-path.svg", alt="Raeda Logo")
			.buttonrow
				+mainbutton('messenger','messenger','/messenger')
				+mainbutton('createpost','create post','/createpost')
				+jsmainbutton('login','login')
				+jsmainbutton('signup','signup')
				+jsmainbutton('connected','wallet connected!','hide done')
		#content
			block content
		#notifwrapper.hide
			#notification
				#notifcross
					.notifcrossline.left
					.notifcrossline.right
				h2#notiftitle
				#notifdesc
				#notifinputarea
					label#notifinputlabel
					input#notifinput
				#notifbtnrow
		script(src='https://cdn.ethers.io/lib/ethers-5.2.umd.min.js')
		script(src='/js/jquery.min.js')
		script(src='/js/utils.js',type="module" )
		script(src='/js/wallet.js',type="module" )
		script(src='/js/script.js',type="module" )
		block scripts