doctype html
html(lang="en-GB")
	head
		meta(charset="utf-8")
		title Raeda Dapp
		link(rel='stylesheet', href='styles/font.css')
		link(rel='stylesheet', href='styles/styles.css')
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap" rel="stylesheet")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		block headerscripts
	body
		include ui-components
		#topbar
			a(id="logo-a",href="/")
				img(id="logo", src="/assets/img/raeda_logo_modern-dark-transparent-path.svg", alt="Raeda Logo")
			.buttonrow
				+mainbutton('messenger','messenger','/messenger')
				+mainbutton('bid','bid','/bid')
				+mainbutton('login','login','/login')
		#content
			block content
		script(src='/js/jquery.min.js')
		script(src='/js/script.js')
		block scripts