extends ../../templates/layout.pug

block content
	.area-container
		.area-row
			.area
				h3 YOUR OPEN BIDS
				ul#bid-list.area-ul
					+buildopenlakebids()
			.area
				h3 YOUR OPEN POSTS
				ul#post-list.area-ul
					+buildopenlakeposts()
		.area-row
			.area
				h3 SEARCH POSTS
				#marketplace-split
					#map-container
						#quick-map
					#price-area
						#price-range
							.input-range
								label Min Price
								input(id="minprice",placeholder="10 MATIC")
							.input-range
								label Max Price
								input(id="maxprice",placeholder="100 MATIC")
							.input-range
								label
									| Search Radius
									span.toitalic  (miles)
								input(id="searchradius",placeholder="10 miles")
						#searchpost-buttonrow
							#advancedsearch
								a(href="/advanced-search") advanced search
							+jsmainbutton('search','search')
			.area
				h3 SEARCH RESULTS
				#searchtable

block headerscripts
	script(src="https://polyfill.io/v3/polyfill.min.js?features=default")