extends ../../templates/layout.pug

block content
	.area-container
		.area-column
			.area
				h3 OPEN BIDS
				ul#bid-list.area-ul
					+bidli("0.12","post1 on rishin")
					+bidli("0.10","post2 on hamzah")
					+bidli("0.09","post3 on mary")
			.area
				h3 POST MARKETPLACE
				#map
		.area-column
			.area
				h3 OPEN POSTS
				ul#post-list.area-ul
					+postli("POTATOES",true,"0.11")
					+postli("CARROTS",false,"")
					+postli("PAPER",true,"0.08")
					+postli("CHIPS",false,"")

block headerscripts
	script(src="https://polyfill.io/v3/polyfill.min.js?features=default")

block scripts
	script(defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDugTSHPjCq4RHm7XFFC-07jptl0v8E3PE&callback=initMap&v=weekly")