extends ../../templates/layout.pug

block content
	.area-container
		.area-row
			.area.shortheightarea
				h3 YOUR BIDS
				ul#bid-list.area-ul
					li.infoli.toblue Login to view your bids!
					li.infoli.toitalic (or sign up if you don't have an account)
			.area.shortheightarea
				h3 YOUR POSTS
				ul#post-list.area-ul
					li.infoli.toblue Login to view your posts!
					li.infoli.toitalic (or sign up if you don't have an account)
		.area-row
			.area
				h3 SEARCH POSTS
				#marketplace-split
					#map-container
						#quick-map
					#price-area
						#price-range
							.input-range
								label Min Price
								input(id="minprice",placeholder="10 MATIC")
							.input-range
								label Max Price
								input(id="maxprice",placeholder="100 MATIC")
							.input-range
								label
									| Search Radius
									span.toitalic  (miles)
								input(id="searchradius",placeholder="10 miles")
						#searchpost-buttonrow
							#advancedsearch
								a(href="/advancedsearch") advanced search
							+jsmainbutton('search','search')
			.area
				h3 SEARCH RESULTS
				#searchtable

block headerscripts
	script(src="https://polyfill.io/v3/polyfill.min.js?features=default")

block scripts
	script(type="module",src="/js/dashboard.js")