#river {
	width:500px;
	right:0;
	top:0;
	position: fixed;
}

/* TEMPLATE layout.pug */

/*
PRI:     rgb(83, 130, 201)
SEC:     rgb(139, 162, 193)
TER:     rgb(168, 168, 168)
BG:      rgb(36, 36, 36)
SEC BG:  rgb(10, 17, 30)
DARK BG: rgb(25, 25, 25)
*/

html {
	width: 100%;
	height:100%;
	margin:0;
	padding:0;
	background: rgb(36, 36, 36);
}

body {
	background: linear-gradient(20deg, rgb(36, 36, 36) 0%, rgb(10, 17, 30) 100%);
	height:calc(100% - 40px);
	font-family: "Montserrat", sans-serif;
	margin:0px;
	padding:20px;
}

h1 {
	color: rgb(83, 130, 201);
}

h3 {
	margin:0;
	line-height: 40px;
	color: rgb(168, 168, 168);
}

#topbar {
	justify-content: space-between;
	display:flex;
	border-bottom: rgba(168, 168, 168,0.1) 1px solid;
	padding-bottom: 20px;
}

#logo {
	max-width: 30%;
	max-height:40px;
	margin: auto 0;
}

.buttonrow {
	display: flex;
	margin: 5px 0;
}
.buttonrow > * {
	margin-right: 10px;
}

.mainbutton {
	display: block;
	background: linear-gradient(200deg, rgb(25, 25, 25) 0%,  rgba(83, 130, 201,0.2) 100%);
	border: rgba(168, 168, 168,0.3) 1px solid;
	box-shadow: 0 0 10px 5px rgba(0,0,0, 0.2);
	width: fit-content;
	padding: 0 20px;
	border-radius: 40px;
	height: 40px;
	cursor: pointer;
	text-decoration: none;
}

.mainbutton:hover {
	background: rgb(25, 25, 25);
	border-color: rgba(139, 162, 193, 0.5);
}

.mainbutton:hover h3 {
	color: rgb(139, 162, 193);
}