doctype html
html(lang="en-GB")
	head
		meta(charset="utf-8")
		title Raeda Dapp
		link(rel='stylesheet', href='styles/styles.css')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		h1 Raeda Dapp
		h2= rust_res
		script(src='/js/jquery.min.js')